.container{
    display: flex;

}

.paragrafo{
    body{
    align-items: center;
    justify-items: center;
    margin-top: auto;
    }

}
body {
    font-family: 'Lora', serif;
}

.justificado {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    margin: 20px;
    text-indent: 40px;
}